<header>
  <nav class="webHeader">
    <div>
      <a class="links" href="/store/products">Store</a>
    </div>
    <div class="space">
      <a class="links" href="/products">Products</a>
    </div>
    <div class="space">
      <a class="links" href="/variants">Variants</a>
    </div>
    <div class="space">
      <a class="links" href="/images">Images</a>
    </div>
  </nav>
</header>
